button {
    width: 25rem;
    height: 7rem;
    background-color: #c29525;
    border: none;
    font-family: 'Muli', serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    cursor: pointer;
    
}