.open .sidebar {
    right: 0;
}

.sidebar {


    width: 40rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -40rem;
    background-color: #fff;
    transition: right 0.5s;
    z-index: 100;

    @media (max-width:500px) {
        width: 100%;
        right: -100%;
    }

    .menu {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);


        .menu-item {
            text-align: center;

            .menu-link {
                font-family: 'Baloo Da 2', serif;
                font-size: 4rem;
                color: #555;
                position: relative;

                @media (max-width:1400px) {
                    font-size: 3rem;

                }

                &::before {
                    content: attr(data-content);
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: #c29525;
                    width: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    transition: width 0.3s ease-in-out;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }
    }

    .social-icons {
        position: absolute;
        bottom: 3rem;
        width: 100%;
        display: flex;
        justify-content: center;

        i {
            font-size: 2.2rem;
            margin: 3rem;
            width: 4.5rem;
            height: 4.5rem;
            background-color: #777;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: background-color 0.3s;

            &:hover {
                background-color: #c29525;
            }
        }
    }
}